@{
  Layout = "_Layout";
}
    <div class="container well">
      <h1>Add A Specialty</h1>
        <form class="form" action="/add" method="post">
          <div class="form-group row">
            <div class="col-lg-3">
              <input type="text" class="form-control" name="new-specialty" id="new-specialty" placeholder="Add a specialty">
            </div>
            <div class="col-lg-9">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-success" name="button">SUBMIT</button>
            </div>
            <div class="col-lg-10">
            </div>
          </div>
        </form>
      <div class="row">
        <div class="col-xsl-11">
        </div>
          <div class="col-xl-1">
        </div>
      </div>
