@{
  Layout = "_Layout";
}
<div class="container">
  <div class="well row">
    <h1>Snappy Snips Hair Salon</h1>
  </div>
  <div class="container well">
    <h2>Add a Specialty</h2>
    <div class="row">
      <form action="/specialties" method="post">
        <label for="new-specialty">New specialty:</label>
          <input id="new-specialty" name="new-specialty" type="text">
        <button type="submit">ADD</button>
      </form>
    </div>
    <div class="row">
      <h4><a href="/">BACK</a></h4>
    </div>
  </div>
</div>
