@{
  Layout = "_Layout";
}
<div class="container">
  <div class="well row">
    <h1>Snappy Snips Hair Salon</h1>
  </div>

  <div class = "well row">
    <h3>Add Treatment to <strong>@Model[0].GetName()</strong> | <a href="/clients/@Model[0].GetId()/ClientDetails">BACK</a></h3>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-lg-6">
        <h3>TREATMENTS</h3>
      </div>
      <div class="col-lg-4">
        <h3>ACTION</h3>
      </div>
    </div>
    <div class="row">
      @if(@Model[1].Count > 0)
      {
          @foreach (var item in Model[1])
          {
            <div class="col-lg-6">
              <h4 style="color:purple; font-size:1.75em;">@item.GetName()</h4>
            </div>
            <div class="col-lg-4">
              <h4><a href="/treatments/@Model[0].GetId()/@item.GetId()/addit">ADD TREATMENT</a></h4>
            </div>
          }
      }
      else
      {
          <h4>There are no treatments to add.</h4>
      }
    </div>

  </div>
</div>
