@{
  Layout = "_Layout";
}
<div class="container">
  <div class="well row">
    <h1>Snappy Snips Hair Salon</h1>
  </div>
  <div class="container well">
    <h2>Add Treatment to Client: @Model[0][0].GetName()</h2>
    @if(@Model[1].Count > 0)
    {
      <div class="row">
        @foreach (var item in Model[1])
        {
          <div class="col-lg-6">
            <h4 style="color:purple; font-size:1.75em;">@item.GetName()</h4>
          </div>
          <div class="col-lg-4">
            <h4><a href="/specialties/@item.GetId()/details">VIEW</a> | <a href="/clients/@item.GetId()/@Model[0][0].GetId()/addtoclient">ADD</a></h4>
            <h4>
          </div>
        }
      </div>
    }
    else
    {
        <h4>There are no specialties to be assigned yet.</h4>
    }
    <div class="row">
      <h4><a href="/stylists/@Model[0][0].GetId()/details">BACK</a></h4>
    </div>
  </div>
</div>
