body {
  background-color: lightgray;
}

.container {
  margin-top: 2em;
  padding: 3em;
  background: linear-gradient(silver, white);
}

h4{
  margin-left: 1em;
}

.well {
  background: linear-gradient(gray, white);
}

.row {
 padding: .5em;
}

.jumbotron {
  text-align: center;
  background color: chartreuse;

}
