@{
  Layout = "_Layout";
}
<div class="container">

  <div class="well row">
    <h1>Rapunzel Hair Salon</h1>
  </div>
  <div class="container well">
    <h2>Add a Client to @Model.GetName()</h2>

    <div class="row">
      <form action="/clients/@Model.GetId()" method="post">
        <label for="new-client">New Client:</label>
          <input id="new-client" name="new-client" type="text">
        <button type="submit">Add</button>
      </form>
    </div>
  <div class="row">
    <h4><a href="/">Return Home</a></h4>
  </div>
</div>

</div>
