@{
  Layout = "_Layout";
}

<div class="container well">
  <h2>@Model.GetName()</h2>

  @if(@Model.GetClients().Count > 0)
  {
    @foreach (var client in @Model.GetClients())
    {
      <div class = "row">
        <div class="col-lg-5">
          <h4><a href="/clients/@client.GetId()/ClientDetails">@client.GetName()</a></h4>
        </div>
        <div class="col-lg-4">
          <h4><a href="/clients/@client.GetId()/update">EDIT</a> | <a href="/clients/@client.GetId()/delete">DELETE</a></h4>
        </div>
      </div>
    }
  }
  else
  {
    <h4>@Model.GetName() has no clients right now.</h4>
  }
  <h4><a href="/clients/@Model.GetId()/new">Add Client</a></h4>
  <h4><a href="/">Return Home</a></h4>
</div>
